*, h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 25px;
    color: #373867;
    font-weight: bold;
    text-shadow: 0px 9.45455px 9.45455px rgba(0, 0, 0, 0.25);
    margin-top: 10px;
}

input {
    margin-bottom: 15px;
    margin-top: 15px;
    height: 25px;
    background-color: #AFAFC2;
    border: 1px solid #373867;
    border-radius: 5px;
    color: #000000;
}

button {
    margin-bottom: 13px;
    margin-top: 13px;
    background-color: #AACE9B;
    color: #FFFFFF;
    width: 260px;
    height: 29px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #818181;
    align-self: center;
}

button:hover {
    background-color: #8CCF6F;
}

button:active {
    background-color: #5DCF2B;
    transform: translateY(2px);
}

p.error-submit {
    font-size: 13px;
}

input#name , input#surname , input#ID , input#birthday , input#phone , input#adress, 
input#city , input#zipCode , input#email , input#password , input#repeatPassword {
    margin-top: 15px;
    margin-bottom: 3px;
}

input#birthday {
    padding: 1px 2px; 
    width: 212px;
}

.trackgenix-text-header {
    font-size: 37px;
    padding-top: 5px;
}

.search-aside input {
    height: 17px;
}

.home-sidebar-text {
    color: #000000;
    text-decoration: none;
    font-weight: normal;
}

.signup-sidebar-text {
    color: #000000;
    font-weight: bold;
}

.home-sidebar-text:hover , .login-sidebar-text:hover {
    font-weight: bold;
}

.sigup-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    /* height: 480px; */
    /* width: 740px; */
    width: 80%;
    background-color: #AFAFC2;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0px 0px 4px 5px #DEDFE7;
}

.complete {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .inputs {
    display: flex;
    flex-direction: column;
} */

.column1 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.column2 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.twocolortext {
    display: flex;
    justify-content: space-between;
    font-size: 13.5px;
    margin-bottom: 20px;
}

.purpletext {
    color: #373867;
}

.greentext {
    text-decoration: none;
    color: #BBEEA6;
    padding-left: 7px;
}

.greentext:hover {
    text-decoration: underline;
}

#error-containerN, #error-containerS, #error-containerID, #error-containerB, #error-containerPN, #error-containerA,
#error-containerZC, #error-containerC, #error-containerP, #error-containerRP, #error-containerE{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FF000F;
}

@media (min-width: 480px) {
    main {
        padding: 0px;
        margin: 0px;
    }

    .sigup-box {
        width: 560px;
        margin-top: 85px;
        margin-bottom: 25px;
    }

    .complete {
        flex-direction: row;
    }

    .column1 {
        padding-right: 20px;
    }
}