<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="shortcut icon" href="../assets/rocketlogo.jpg">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="login-box">
        <h1>Log In</h1>
        <div class="inputs">
            <input type="text" id="email" name="email" required minlength="4" 
            maxlength="30" size="30" placeholder="Email">
            <input type="text" id="password" name="password" required minlength="4" 
            maxlength="10" size="30" placeholder="Password">
            <div>
                <input type="checkbox" id="rememberme" value="rememberme"> 
                <label for="rememberme" class="purpletext">Remember me</label>
            </div>
            <button name="Continue" class="continue-button">Continue</button>
            <p class="purpletext forgot-password-text">Forgot password?</p>
            <div class="twocolortext">
                <p class="purpletext">Don't have an account? </p>
                <p class="greentext">Sign up now</p>
            </div>
        </div>
    </div>
</body>
</html>