<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
        <link rel="shortcut icon" href="../assets/rocketlogo.jpg">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/main-landing.css">
        <link rel="stylesheet" href="../css/sidebar.css">
        <link rel="stylesheet" href="../css/sign-up.css">
    </head>
    <body>
        <aside class="left-column">
            <div class="search-aside">
                <form>
                    <input type="text" placeholder="Search..">
                </form>
            </div>
            <div class="dark-grey-sidebar">
                <p class="menu-sidebar-text">Menu</p>
                <p class="sidebar-green-line">
                    <a class="home-sidebar-text" href="index.html" 
                    target="_blank">Home</a>

                </p>
                <p class="sidebar-green-line signup-sidebar-text">
                    Sign Up
                </p>
                <p class="sidebar-green-line">
                    <a class="login-sidebar-text" href="login.html" 
                    target="_blank">Log In</a>
                </p>
                <p class="sidebar-green-line contact-information">Contact information</p>
                <p class="grey-paragraph">
                    Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, 
                    ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. 
                    Sed nulla amet lorem feugiat tempus aliquam.
                </p>
                <p class="sidebar-green-line">
                    <img src="../assets/letter.svg"/>
                    <a href=# class="mail">information@untitled.tld</a>
                </p>
                <p class="sidebar-green-line">
                    <img src="../assets/home.svg"/>
                    1234 Somewhere Road #8254 Nashville, TN 00000-0000
                </p>
            </div> 
        </aside>
        <div class="right-column">
            <header class="track-header">
                <label class="trackgenix-text-header header-item">Trackgenix</label>
                <img src="../assets/rocketlogo.jpg" class="rocketlogo-header header-item"/>
            </header>
            <main>
                <div class="sigup-box">
                    <h1>Sign Up</h1>
                    <!-- <!-- <div class="inputs"> -->
                        <div class="complete">
                            <div class="column1">
                                <input type="text" id="name" name="Name"
                                size="30" placeholder="Name">
                                <p id="error-containerN" class=""></p>

                                <input type="text" id="surname" name="Surname"
                                size="30" placeholder="Surname">
                                <p id="error-containerS" class=""></p>

                                <input id="ID" name="ID"
                                size="30" placeholder="ID">
                                <p id="error-containerID" class=""></p>

                                <input type="date" id="birthday" name="Birthday"
                                size="30" placeholder="Birthday">
                                <p id="error-containerB" class=""></p>

                                <input id="phone" name="Phone"
                                size="30" placeholder="Phone">
                                <p id="error-containerPN" class=""></p>

                                <input type="text" id="adress" name="Adress"
                                size="30" placeholder="Adress">
                                <p id="error-containerA" class=""></p>
                            </div>

                            <div class="column2">
                                <input type="text" id="city" name="City"
                                size="30" placeholder="City">
                                <p id="error-containerC" class=""></p>

                                <input type="text" id="zipCode" name="ZipCode"
                                size="30" placeholder="Zip Code">
                                <p id="error-containerZC" class=""></p>
                                
                                <input type="text" id="email" name="Email"
                                size="30" placeholder="Email">
                                <p id="error-containerE" class=""></p>

                                <input type="text" id="password" name="Password"
                                size="30" placeholder="Password">
                                <p id="error-containerP" class=""></p>
                                
                                <input type="text" id="repeatPassword" name="RepeatPassword"
                                size="30" placeholder="Repeat Password">
                                <p id="error-containerRP" class=""></p>
                            </div>
                        </div>

                        <button name="signup-button" class="signup-button" id="signup-button">Create</button>

                        <div class="twocolortext">
                            <p class="purpletext">Alredy have an account? </p>
                            <p><a href="login.html" class="greentext">Log In now</a></p>
                        </div>

                    <!-- </div> -->
                </div>
            </main>
        </div>
        <script src="../javascript/sign-up.js"></script>
    </body>
</html>