<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="shortcut icon" href="../assets/rocketlogo.jpg">
    <link rel="stylesheet" href="../css/sign-up.css">
</head>
<body>
    <div class="sigup-box">
        <h1>Sign Up</h1>
        <div class="inputs">
            <input type="text" id="FirstName" name="FirstName" required minlength="4" 
            maxlength="10" size="30" placeholder="First Name">
            <input type="text" id="LastName" name="LastName" required minlength="4" 
            maxlength="10" size="30" placeholder="Last Name">
            <input type="text" id="email" name="email" required minlength="4" 
            maxlength="30" size="30" placeholder="Email">
            <input type="text" id="password" name="password" required minlength="4" 
            maxlength="10" size="30" placeholder="Password">
            <button name="Continue" class="continue-button">Continue</button>
            <div class="twocolortext">
                <p class="purpletext">Alredy have an account? </p>
                <p class="greentext">Log In now</p>
            </div>
        </div>
    </div>
</body>
</html>