* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

h1 {
    font-size: 25px;
    color: #373867;
    font-weight: bold;
    text-shadow: 0px 9.45455px 9.45455px rgba(0, 0, 0, 0.25);
}

.inputs {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    margin-top: 15px;
    height: 25px;
    background-color: #AFAFC2;
    border: 1px solid #373867;
    /* box-sizing: border-box; */
    border-radius: 5px;
    color: black;
}

.sigup-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 480px;
    width: 380px;
    background-color: #AFAFC2;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0px 0px 4px 5px #DEDFE7;
}

button {
    /* background-color: #ACBEAE; */
    /* color: #CFDAD0; */
    margin-bottom: 13px;
    margin-top: 13px;
    background-color: #AACE9B;
    color: #FFFFFF;
    width: 206px;
    height: 29px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #818181;
    align-self: center;
}

.purpletext {
    color: #373867;
}

.greentext {
    color: #BBEEA6;
}

.twocolortext {
    display: flex;
    justify-content: space-between;
    font-size: 13.5px;
}

button:hover {
    background-color: #8ccf6f;
}

button:active {
    background-color: #5dcf2b;
    transform: translateY(2px);
}