* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    position: fixed;
    width: 80%;
    height: 30px;
    top: 0;
    left: 20%;
    padding-left: 42px;
    padding-bottom: 36px;
    box-shadow: 0px 8px 16px rgba(50, 50, 71, 0.06);
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 37px;
    font-weight: bold;
    color: #373867;
    z-index: 100;
}

.RL-hd {
    position: relative;
    width: 60px;
    height: 65px;
    right: 5%;
}

body {
    padding-left: 20px;
}

.sb-pos {
    position: fixed;
    width: 20%;
    height: 100%;
    top: 0px;
    left: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-aside {
    height: 46px;
    padding-top: 20px;
    padding-left: 50px;
    background-color: #EBEBEB;
}

input {
    border: 1px solid #373867;
    border-radius: 4px;
}

.form-aside input {
    background-color: #EBEBEB;
    border: 1px solid #373867;
}

.aside {
    height: 100%;
    padding: 5px 10px 5px 10px;
    background-color: #dcdada;
}

.aside p {
    padding-top: 15px;
}

.menu {
    font-weight: bold;
    text-decoration: underline 3px;
    text-decoration-color: #AACE9B;
}

p.menu {
    padding-top: 0px;
}

.sidebar {
    border-bottom: 1px solid #AACE9B;
}

.sidebar.CI {
    border-bottom: 2px solid #AACE9B;
    font-weight: bold;
}

p.paragraph {
    color: #958888;
}

.mail {
    color:black;
}

main {
    margin-left: 250px;
    margin-top: 75px;
    padding-left: 20px;
}

h1 {
    font-weight: bold;
}

.greenline {
    padding-bottom: 10px;
    border-bottom: solid 3px #AACE9B;
}

h1, h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    /* font-weight: bold; */
}

.item-app {
    display: inline-block;
    width: 41%;
}

img.item-app{
    position: relative;
    width: 300px;
    height: 270px;
    top: -45px;
    right: 166px;
}

p.paragraph.item-app {
    padding-bottom: 20px;
}

.p-func {
    display: inline-block;
    width: 35%;
    margin: 15px;
    margin-left: 80px;
    padding: 5px;
    border: 1px solid #373867;
    border-radius: 5px;
    font-weight: bold;
    color: #373867;
}

.color-item {
    font-weight: bold;
    color: #34636E;
}

.item-wut {
    display: inline-block;
    width: 47%;
    padding: 10px;
}

h3 {
    font-size: 20px;
}

.form-form {
    display: inline-block;
    width:43%;
    margin-bottom: 10px;
    position: relative;
    left: 140px;
}

#email {
    margin: 10px 0 10px 0px;
}

.form-form.message {
    position: relative;
    top: -10px;
}

#message {
    height: 100px;
    margin: 10px 10px 10px 0px;
}

.history {
    margin-bottom: 25px;
    padding-left: 60px;
}

.history-box1 {
    float: right;
}

.history-box2 {
    float: left;
}

.item-his {
    display: inline-block;
    width: 49%;
}

p.paragraph.item-his {
    position: relative;
    top: -80px;
    color: #958888;
}

.pcs-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.item-pcs {
    display: inline-block;
    width: 10%;
    padding-left: 190px;
    color: #958888;
}

.item-pcs p {
    padding-left: 20px;
    color: black;
}

.contact-area {
    margin-left: 95px;
}

footer {
    margin-left: 280px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}