main {
    padding-left: 4.5%;
    padding-right: 4%;
}

img.item-app{
    width: 70%;
}

p.grey-paragraph.item-app {
    padding-bottom: 20px;
}

.menu-hamb{
    width: 30px;
    margin-top: 10px;
}

.trackgenixapp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.functionalities-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.func-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.p-func {
    width: 70%;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #373867;
    border-radius: 5px;
    font-weight: bold;
    color: #373867;
}

.p-func img {
    width: 9px;
    height: 9px;
}

.whyuse-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.item-whyuse {
    margin: 5px;
    padding: 10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#email {
    margin: 10px 0 10px 0px;
}

.contact-area {
    padding-left: 15%;
}

#message {
    height: 100px;
    width: 100%;
    margin: 10px 10px 10px 0px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.form-buttons {
    display: flex;
    justify-content: space-around;
}

.buttons {
    width: 100px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1)
}

.history-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.history-item {
    width: 100%;
    padding-bottom: 8px;
}

.pcs-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.pcs-item{
    padding: 10px;
    color: #958888;
}

.pcs-item p {
    padding-bottom: 4px;
    color: #000000;
    text-align: left;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 480px){
    main {
        padding-left: 3%;
        padding-right: 2%;
    }
    
    img.item-app{
        width: 250px;
        height: 250px;
    }

    .trackgenixapp-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .functionalities-container {
        flex-direction: row;
    }

    .column{
        flex-direction: row;
    }

    .func-column p{
        width: 40%;
    }

    .p-func {
        margin: 13px;
    }

    .form-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .buttons:hover {
        background-color: #ececec;
    }

    .buttons:active {
        background-color: #d1d1d1;
        transform: translateY(2px);
    }

    .history-container .column:nth-child(1) {
        flex-direction: row-reverse;
    }

    .history-item {
        width: 50%;
    }

    .pcs-container{
        flex-direction: row;
        justify-content: space-around;
        padding-left: 0px;
    }
}

@media (min-width: 768px) {
    main {
        padding-top: 65px;
        padding-left: 2%;
    }

    .menu-hamb {
        display: none;
    }
}