* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p.paragraph {
    color: #958888;
}

h1 {
    font-weight: bold;
}

.greenline {
    padding-bottom: 10px;
    border-bottom: solid 3px #AACE9B;
}

h1, h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

/* @media (min-width: 480px){
    .trackgenixapp-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .functionalities-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .column{
        flex-direction: row;
    }

    .func-column p{
        width: 40%;
    }

    .p-func {
        margin: 13px;
    }

    .form-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .history-container .column:nth-child(1) {
        flex-direction: row-reverse;
    }

    .pcs-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (max-width: 480px){
    header {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        width: 100%;
        margin: 0;
    }

    .footer-icons {
        display: none;
    }
}

@media (min-width: 768px) {
    header {
        width: calc(100% - 250px); 
        top: 0;
        margin-left: 250px;
        position: fixed;
    }

    main {
        margin-left: 250px;
        padding-top: 65px;
    }

    .menu-hamb {
        display: none;
    }

    .trackgenixapp-container {
        text-align: left;
    }

    .wut-container {
        text-align: left;
    }

    .history-container {
        text-align: left;
    }

    footer {
        margin-left: 250px;
    }
}

@media (max-width: 768px) {
    .sb-pos {
        display: none;
    }

    header {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        width: 100%;
        margin: 0;
    }
} */